Scrivi un programma Panda per trovare i paesi nel set di dati sul consumo di alcol nel mondo in cui le porzioni di birra, bevande alcoliche e vino sono tutte superiori a 50 litri. Recupera i nomi dei paesi per questi record.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv("C:\\Users\\rizzu\\OneDrive\\Desktop\\visual studio\\esercizi piattaforma numpy pandas\\World_Alcohol_Dataset - MAIN.csv", na_values = "?")

print(df)

                 country  beer_servings  spirit_servings  wine_servings  \
0            Afghanistan            0.0              0.0            0.0
1                Albania           89.0            132.0           54.0
2                Algeria           25.0              0.0           14.0
3                 Angola          217.0             57.0           45.0
4    Antigua and Barbuda          102.0            128.0           45.0
..                   ...            ...              ...            ...
172            Venezuela          333.0            100.0            3.0
173              Vietnam          111.0              2.0            1.0
174                Yemen            6.0              0.0            0.0
175               Zambia           32.0             19.0            4.0
176             Zimbabwe           64.0             18.0            4.0

     life_expentancy                region  gdp_per_capita
0               65.0  ASIA (EX. NEAR EAST)             700
1               77.8        EASTERN EUROPE            4500
2               75.6       NORTHERN AFRICA            6000
3               52.4    SUB-SAHARAN AFRICA            1900
4               76.4   LATIN AMER. & CARIB           11000
..               ...                   ...             ...
172             74.1   LATIN AMER. & CARIB            4800
173             76.0  ASIA (EX. NEAR EAST)            2500
174             65.7             NEAR EAST             650
175             61.8    SUB-SAHARAN AFRICA            1000
176             67.0    SUB-SAHARAN AFRICA             950

[177 rows x 7 columns]

In [5]:
df.dtypes

country             object
beer_servings      float64
spirit_servings    float64
wine_servings      float64
life_expentancy    float64
region              object
gdp_per_capita       int64
dtype: object

In [2]:
df.head()

,country,beer_servings,spirit_servings,wine_servings,life_expentancy,region,gdp_per_capita
0,Afghanistan,0.0,0.0,0.0,65.0,ASIA (EX. NEAR EAST),700
1,Albania,89.0,132.0,54.0,77.8,EASTERN EUROPE,4500
2,Algeria,25.0,0.0,14.0,75.6,NORTHERN AFRICA,6000
3,Angola,217.0,57.0,45.0,52.4,SUB-SAHARAN AFRICA,1900
4,Antigua and Barbuda,102.0,128.0,45.0,76.4,LATIN AMER. & CARIB,11000

In [30]:
df[(df["beer_servings"]>50) &(df["spirit_servings"]>50)& (df["wine_servings"]>50)][["country"]]

            country
1           Albania
7         Australia
8           Austria
15          Belgium
24         Bulgaria
30           Canada
33            Chile
40          Croatia
42           Cyprus
43          Czechia
53          Estonia
56          Finland
57           France
58            Gabon
60          Georgia
61          Germany
63           Greece
71          Hungary
72          Iceland
77          Ireland
89           Latvia
94        Lithuania
95       Luxembourg
102           Malta
113     Netherlands
114     New Zealand
119          Norway
124        Paraguay
127          Poland
128        Portugal
130         Romania
131          Russia
136          Serbia
140        Slovakia
141        Slovenia
144    South Africa
146           Spain
151          Sweden
152     Switzerland
167  United Kingdom
169             USA