Scrivi un programma Panda per filtrare i record dal set di dati sul consumo mondiale di alcol in cui il PIL pro capite Ã¨ superiore a 10.000 e le porzioni di vino sono maggiori di 100. Recupera il paese, le porzioni di birra, le porzioni di alcolici e l'aspettativa di vita per questi record filtrati.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv("C:\\Users\\rizzu\\OneDrive\\Desktop\\visual studio\\esercizi piattaforma numpy pandas\\World_Alcohol_Dataset - MAIN.csv", na_values = "?")

print(df)

                 country  beer_servings  spirit_servings  wine_servings  \
0            Afghanistan            0.0              0.0            0.0
1                Albania           89.0            132.0           54.0
2                Algeria           25.0              0.0           14.0
3                 Angola          217.0             57.0           45.0
4    Antigua and Barbuda          102.0            128.0           45.0
..                   ...            ...              ...            ...
172            Venezuela          333.0            100.0            3.0
173              Vietnam          111.0              2.0            1.0
174                Yemen            6.0              0.0            0.0
175               Zambia           32.0             19.0            4.0
176             Zimbabwe           64.0             18.0            4.0

     life_expentancy                region  gdp_per_capita
0               65.0  ASIA (EX. NEAR EAST)             700
1               77.8        EASTERN EUROPE            4500
2               75.6       NORTHERN AFRICA            6000
3               52.4    SUB-SAHARAN AFRICA            1900
4               76.4   LATIN AMER. & CARIB           11000
..               ...                   ...             ...
172             74.1   LATIN AMER. & CARIB            4800
173             76.0  ASIA (EX. NEAR EAST)            2500
174             65.7             NEAR EAST             650
175             61.8    SUB-SAHARAN AFRICA            1000
176             67.0    SUB-SAHARAN AFRICA             950

[177 rows x 7 columns]

In [2]:
df.info

<bound method DataFrame.info of                  country  beer_servings  spirit_servings  wine_servings  \
0            Afghanistan            0.0              0.0            0.0
1                Albania           89.0            132.0           54.0
2                Algeria           25.0              0.0           14.0
3                 Angola          217.0             57.0           45.0
4    Antigua and Barbuda          102.0            128.0           45.0
..                   ...            ...              ...            ...
172            Venezuela          333.0            100.0            3.0
173              Vietnam          111.0              2.0            1.0
174                Yemen            6.0              0.0            0.0
175               Zambia           32.0             19.0            4.0
176             Zimbabwe           64.0             18.0            4.0

     life_expentancy                region  gdp_per_capita
0               65.0  ASIA (EX. NEAR EAST)             700
1               77.8        EASTERN EUROPE            4500
2               75.6       NORTHERN AFRICA            6000
3               52.4    SUB-SAHARAN AFRICA            1900
4               76.4   LATIN AMER. & CARIB           11000
..               ...                   ...             ...
172             74.1   LATIN AMER. & CARIB            4800
173             76.0  ASIA (EX. NEAR EAST)            2500
174             65.7             NEAR EAST             650
175             61.8    SUB-SAHARAN AFRICA            1000
176             67.0    SUB-SAHARAN AFRICA             950

[177 rows x 7 columns]>

In [4]:
df.head(3)

,country,beer_servings,spirit_servings,wine_servings,life_expentancy,region,gdp_per_capita
0,Afghanistan,0.0,0.0,0.0,65.0,ASIA (EX. NEAR EAST),700
1,Albania,89.0,132.0,54.0,77.8,EASTERN EUROPE,4500
2,Algeria,25.0,0.0,14.0,75.6,NORTHERN AFRICA,6000

In [8]:
df[(df["gdp_per_capita"]> 10000) &(df["wine_servings"] > 100)].sort_values(by=(["gdp_per_capita","wine_servings"]), ascending=[ False, False])[["country", "beer_servings", "spirit_servings", "life_expentancy"]]

            country  beer_servings  spirit_servings  life_expentancy
95       Luxembourg          236.0            133.0             82.0
119          Norway          169.0             71.0             81.8
152     Switzerland          185.0            100.0             83.4
44          Denmark          224.0              NaN             86.0
8           Austria          279.0             75.0             81.5
77          Ireland          313.0            118.0             81.4
15          Belgium          295.0             84.0             81.1
7         Australia          261.0             72.0             82.8
113     Netherlands          251.0             88.0             81.9
167  United Kingdom          219.0            126.0             81.2
57           France          127.0            151.0             82.4
61          Germany          346.0            117.0             81.0
151          Sweden          152.0             60.0             82.4
79            Italy           85.0             42.0             82.7
146           Spain          284.0            157.0             82.8
114     New Zealand          203.0             79.0             81.6
63           Greece          133.0            112.0             81.0
42           Cyprus          192.0            154.0             85.0
141        Slovenia          270.0             51.0             88.0
128        Portugal          194.0             67.0             81.1
102           Malta          149.0            100.0             81.7
43          Czechia          361.0            170.0             78.8
71          Hungary          234.0            215.0             75.8
140        Slovakia          196.0            293.0             76.7
168         Uruguay          115.0             35.0             77.0
5         Argentina          193.0             25.0             76.3
40          Croatia          230.0             87.0             78.0